<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="">cigar-tracker</a>
        <AuthorizeView>
            <NotAuthorized>
                <form action="/login" method="post" style="display: inline;">
                    <button type="submit" class="btn btn-sm btn-primary">Login with Google</button>
                </form>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cigar-log">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cigar Log
            </NavLink>
        </div>
    </nav>
</div>

